.liveBox {
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  /* background: linear-gradient(135deg, #1e1e1e, #3a3a3a); */
  border: 3px solid #10285c;
  border-radius: 15px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.dot {
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  animation: blink 0.5s infinite;
}

.text {
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #10285c;
  font-weight: 700;
  font-size: 1rem;
}

@keyframes blink {
  0% {
    opacity: 1;
    box-shadow: 0 0 6px red;
  }
  50% {
    opacity: 0;
    box-shadow: 0 0 0 red;
  }
  100% {
    opacity: 1;
    box-shadow: 0 0 6px red;
  }
}
